  table tr:nth-child(odd) td:nth-child(odd){
    background-color:black ;
    color: white;
    
}
table tr td:hover{
    
transition:  0.5s ease;


}
table tr td:hover{
    transform: scale(1.1);
    background-color:yellow;
}


table tr:nth-child(1) td,table tr:nth-child(2) td,table tr:nth-child(7) td,table tr:nth-child(8) td{
    font-size:xx-large;
}


table tr:nth-child(even) td:nth-child(even){
    background-color: black;
    color: white;
}

  table tr:nth-child(5) td,table tr:nth-child(6) td,table tr:nth-child(4) td,table tr:nth-child(3) td{

    padding:40px;
}
.container{
 padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container>a{
    color: blue;
    position:absolute;
    top: 0px;
    left: 0px;
    text-decoration: none;
    
}
.container>a:visited{
    color:blueviolet;
}
.container>a:hover{
    color:aqua
}
.container>a:active{
    color:yellow;

}