.div1{
    width: 100%;
    height: 260px;
    background-color:blueviolet;
box-sizing: border-box;
color: white;
display:flex;
flex-direction:column;
align-items: center;



}
*{
    margin:0px;
    padding: 0px;
    
}
.h2{
    padding:2px;
    font-family:cursive;
}
.h6{
    padding:10px;
}
.f1{
    padding:3px;
    margin:4px;

}
.f2{
    padding:3px;
    margin:4px;

}
.f3{
    padding:3px;
    margin:4px;

}
.f4{
    padding:3px;
    margin:4px;
    background-color:blue;
    width: 95%;
    font-size:xx-small;
}
h6{
display:inline-block
}
.a1{
    text-decoration: none;

}
