*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:400px;
    background-color:white;
display: flex;
flex-wrap:wrap;
}
.i1{
    width:25%;
position: relative;
    height:200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
    flex-grow:5;

    transition:all 0.5s ease ;
}

.img1{
    width: 100%;
height: 100%;
    

}
p{
    color:white;
    font-size:20px;
    opacity:0;
    position:absolute;


}
 .img1:hover{

opacity: 0;
}
.img2:hover{
    opacity: 0;
}
.img3:hover{
    opacity: 0;
}
.img4:hover{
    opacity: 0;
}
.img5:hover{
opacity: 0;
}
.img6:hover{
    opacity: 0;
}
.img7:hover{
    opacity: 0;
}
.img8:hover{
    opacity: 0;
}



.container:hover p{
    opacity:1;
    
}






.i2{
    width: 25%;
    height:200px;
    position:relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
}
.img2{
    width: 100%;
    height: 100%;
}





.i3{
    width: 25%;
    height:200px;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
}
.img3{
    width: 100%;
    height: 100%;
}




.i4{
    width: 25%;
    height:200px;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
}
.img4{
    width: 100%;
    height: 100%;
}

.i5{
    width: 25%;
    height:200px;
position: relative;
background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    
}
.img5{
    width: 100%;
    height:100% ;
}

.i6{width:25%;
    height:200px;
position: relative;
background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    
}
.img6{
    width: 100%;
    height: 100%;
}

.i7{
    width:25%;
    height:200px;
position: relative;
background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    
}
.img7{
    width:100%;
    height:100%;
}

.i8{
    width: 25%;
    height: 200px;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    
}
.img8{
    width:100%;
    height:100%;
}


