*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:700px;
    background-color:white;
display: flex;
flex-wrap:wrap;
flex-shrink:1;
flex-grow:1;
border:1px solid black ;
gap:5px;
justify-content:center;
align-items: center;
}

.i1{
    width:25%;
position: relative;
    height:200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    




    transition:all 0.5s ease-out ;
}

.img1{
    width: 100%;
height: 100%;
    

}
p{
    color:white;
    font-size:20px;
    opacity:0;
    position:absolute;


}
 .img1:hover{

opacity: 0;
}
.img2:hover{
    opacity: 0;
}
.img3:hover{
    opacity: 0;
}
.img4:hover{
    opacity: 0;
}
.img5:hover{
opacity: 0;
}
.img6:hover{
    opacity: 0;
}
.img7:hover{
    opacity: 0;
}
.img8:hover{
    opacity: 0;
}
.i1:hover p{
    opacity:1;
}
.i2:hover p{
    opacity:1;
    
}
.i3:hover p{
    opacity:1;
    
}
.i4:hover p{
    opacity:1;
    
}
.i5:hover p{
    opacity:1;
    
}
.i6:hover p{
    opacity:1;
    
}
.i7:hover p{
    opacity:1;
    
}
.i8:hover p{
    opacity:1;
    
}



.i2{
    width: 25%;
    height:200px;
    position:relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    flex-shrink: 1;
    flex-grow:1;
}
.img2{
    width: 100%;
    height: 100%;
}





.i3{
    width: 25%;
    height:200px;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    flex-shrink: 1;
    flex-grow:1;
}
.img3{
    width: 100%;
    height: 100%;
}




.i4{
    width: 25%;
    height:200px;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    flex-shrink: 1;
    flex-grow:1;
}
.img4{
    width: 100%;
    height: 100%;
}

.i5{
    width: 25%;
    height:200px;
position: relative;
background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    flex-shrink: 1;
    flex-grow:1;
    
}
.img5{
    width: 100%;
    height:100% ;
}

.i6{width:25%;
    height:200px;
position: relative;
background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    flex-shrink: 1;
    flex-grow:1;
    
}
.img6{
    width: 100%;
    height: 100%;
}

.i7{
    width:25%;
    height:200px;
position: relative;
background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    flex-shrink: 1;
    flex-grow:1;
    
}
.img7{
    width:100%;
    height:100%;
}

.i8{
    width: 25%;
    height: 200px;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.5s ease ;
    flex-shrink: 1;
    flex-grow:1;
    
}
.img8{
    width:100%;
    height:100%;
}


